# -------------------------
# Prevent directory listing
# -------------------------
Options -Indexes

# ---------------------
# Custom error messages
# ---------------------
ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php

# ----------------
# Hide PHP Version
# ----------------
Header unset X-Powered-By

# --------------------------------
# Pretty URL (Inspired by Laravel)
# --------------------------------

# 1. Turn on rewrite feature
RewriteEngine on

# 2. Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# 3. Send Requests To Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
